body {
    background-image: url("background-Image.jpg");
    /*height: 750px;*/
    height: 100vh;
    background-size: cover;
    /*background-position: right;*/
    background-position-x: 90%;
    background-repeat: no-repeat;
    display: flex;
    /*min-height: 100vh;*/
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    margin-left: 25px;
}

nav {
    opacity: .30;
    /*margin-left: 2em;*/
}

a.topTabs {
    font-weight: bold;
}

a.topTabs:hover {
    color: #37c9d7
}

.widgets {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 1em;
    margin-top: 20px;
    opacity: .65
}

.noNews {
    width: 410px;
    min-width: 325px;
    height: 420px;
    min-height: 410px;
    max-height: 550px;
    padding: 0.5em;
    margin-left: 20px;
    background-color: black;
    color: white;
    /*opacity: .50;*/
}

.notes {
    width: 220px;
    min-width: 100px;
    height: 420px;
    min-height: 150px;
    max-height: 550px;
    padding: 0.5em;
    margin-left: 2em;
    background-color: black;
    color: white;
    /*opacity: .50;*/

}
.toDoList {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 245px;
    height: 420px;
    min-height: 150px;
    max-height: 550px;
    padding: 0.5em;
    margin-left: 2em;
    background-color: black;
    color: white;
    /*opacity: .75*/
}

div.list-items {
    display: flex;
    padding: 5px;
    margin-top: 3px;
    color: white;
    height: 365px;
    /*border: solid 1px white;*/
    /*opacity: .50;*/
    /*height: 360px;*/
}

.weather {
    width: 200px;
    min-width: 100px;
    height: 420px;
    min-height: 150px;
    max-height: 550px;
    padding: 0.5em;
    margin-left: 2em;
    background-color: black;
    color: white;
    /*opacity: .50;*/
    margin-right: 2em;
}


.notes header {
    background-color: rgb(17, 56, 191);
    text-align: center;
}


.weather header {
    background-color: rgb(17, 56, 191);
    text-align: center;
}

.toDoList header {
    background-color: rgb(17, 56, 191);
    text-align: center;
}

.noNews header {
    background-color: rgb(17, 56, 191);
    text-align: center;
    margin-bottom: 10px;
}

.ui-icon-resize {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    border-right: 3px solid #f5f5f5;
    border-bottom: 3px solid #f5f5f5;
}

.newTask {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /*position: fixed;
    bottom: 10px;*/
    background-color: rgb(17, 56, 191);
    padding: 2px;
    /*border: solid 1px gray;*/
    margin-top: 5px;
    color: black;

}

.clocks {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-around;
}

.footerWrapper {
    position: fixed;
    bottom: 3%;
    left: 18%;
}

div.time {
    /*background: black;*/
    color: white;
    border: 1px solid rgb(184, 210, 247);
    width: 150px;
    height: 50px;
    opacity: .75;
    text-align: center;
}

.time header {
    color: white;
    background: black;
    opacity: .75
}

li>label {
    font-size: 12px !important;
    color: white;
    padding-left: 20px;
}


button {
    color: black;
    font-weight: bold;
}

.cssStyle {
    text-decoration: line-through;
    color: gray;
}

.ulList {
    margin-left: 5px;
}

.row.stories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px gray;
    margin: 5px;
    margin-top: 12px;
    align-items: center;
}

.weather-today {
    margin-top: 8px;
}
p.weekday {
    text-align: center;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}
